<div>
    <table>
        <thead>
            <tr>
                <th>No. of Employees</th>
                <th>Software Dept.</th>
                <th>Account Dept.</th>
                <th>Designing Dept.</th>
                <th>Management Dept.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>{{employeesCount.totalEmployees}}</span></td>
                <td><span>{{employeesCount.softwareNo}}</span></td>
                <td><span>{{employeesCount.accountNo}}</span></td>
                <td><span>{{employeesCount.designingNo}}</span></td>
                <td><span>{{employeesCount.managementNo}}</span></td>
            </tr>
        </tbody>
    </table>
</div>
